<%
page.layout = 'pdf'
page.title = theme.pdf.title || __('pdf.title')
page.subtitle = theme.pdf.subtitle || __('pdf.subtitle')
page.banner_img = theme.pdf.banner_img
page.banner_img_height = theme.pdf.banner_img_height
page.banner_mask_alpha = theme.pdf.banner_mask_alpha
%>

<main>
    <h3>这儿是一些基于pdfjs进行阅读的书籍或者笔记！<em>注意：阅读请关闭IDM</em></h3>
    <ul>
        <li>
            <a href="/pdf/2018年黑马程序最新面试题汇总.pdf" target="_Blank">
                <h4>《2018年黑马程序最新面试题汇总》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/2019年多家公司整理的350道Java面试题手册.pdf" target="_Blank">
                <h4 class="">《2019年多家公司整理的350道Java面试题手册》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/ActiveMQ消息中间件面试专题.pdf" target="_Blank">
                <h4 class="">《ActiveMQ消息中间件面试专题》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/CoreJava面试题汇总.pdf" target="_Blank">
                <h4 class="">《CoreJava面试题汇总》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Dubbo面试及答案(上).pdf" target="_Blank">
                <h4>《Dubbo面试及答案(上)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Dubbo面试及答案(下).pdf" target="_Blank">
                <h4>《Dubbo面试及答案(下)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/JAVA核心知识点整理.pdf" target="_Blank">
                <h4>《JAVA核心知识点整理》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/java后端面试题答案.pdf" target="_Blank">
                <h4>《java后端面试题答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Java基础面试题.pdf" target="_Blank">
                <h4>《Java基础面试题》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/JVM面试专题及答案.pdf" target="_Blank">
                <h4>《JVM面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Kafka面试专题及答案.pdf" target="_Blank">
                <h4>《Kafka面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Linux面试专题及答案.pdf" target="_Blank">
                <h4>《Linux面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/memcached面试专题及答案.pdf" target="_Blank">
                <h4>《memcached面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/MongoDB面试专题及答案.pdf" target="_Blank">
                <h4>《MongoDB面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/MyBatis面试专题及答案.pdf" target="_Blank">
                <h4>《MyBatis面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/MySQL55题及答案.pdf" target="_Blank">
                <h4>《MySQL55题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/mysql面试专题及答案.pdf" target="_Blank">
                <h4>《mysql面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/MySQL性能优化的21个最佳实践.pdf" target="_Blank">
                <h4>《MySQL性能优化的21个最佳实践》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Netty面试专题及答案.pdf" target="_Blank">
                <h4>《Netty面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Nginx面试专题及答案.pdf" target="_Blank">
                <h4>《Nginx面试专题及答案》></h4>
            </a>
        </li>
        <li>
            <a href="/pdf/RabbitMQ消息中间件面试专题及答案.pdf" target="_Blank">
                <h4>《RabbitMQ消息中间件面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Redis面试题及答案(上).pdf" target="_Blank">
                <h4>《Redis面试题及答案(上)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Redis面试专题及答案(下).pdf" target="_Blank">
                <h4>《Redis面试题及答案(下)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/SpringBoot面试专题及答案.pdf" target="_Blank">
                <h4>《SpringBoot面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/SpringCloud面试专题及答案.pdf" target="_Blank">
                <h4>《SpringCloud面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/SpringMVC面试专题及答案.pdf" target="_Blank">
                <h4>《SpringMVC面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Spring面试专题及答案.pdf" target="_Blank">
                <h4>《Spring面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/SQL优化面试专题及答案.pdf" target="_Blank">
                <h4>《SQL优化面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/Tomcat面试专题及答案.pdf" target="_Blank">
                <h4>《Tomcat面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/v4.0-JavaGuide面试突击版.pdf" target="_Blank">
                <h4>《v4.0-JavaGuide面试突击版》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/zookeeper面试专题及答案.pdf" target="_Blank">
                <h4>《zookeeper面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/并发编程面试题及答案(上).pdf" target="_Blank">
                <h4>《并发编程面试题及答案(上)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/并发编程面试题及答案(下).pdf" target="_Blank">
                <h4>《并发编程面试题及答案(下)》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/多线程面试专题及答案.pdf" target="_Blank">
                <h4>《多线程面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/开源框架面试专题及答案.pdf" target="_Blank">
                <h4>《开源框架面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/面试必备之乐观锁与悲观锁.pdf" target="_Blank">
                <h4>《面试必备之乐观锁与悲观锁》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/尚学堂java面试题汇总(含参考答案)V1.5-20170801.pdf" target="_Blank">
                <h4>《尚学堂java面试题汇总(含参考答案)V1.5-20170801》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/设计模式面试专题及答案.pdf" target="_Blank">
                <h4>《设计模式面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/数据库面试专题及答案.pdf" target="_Blank">
                <h4>《数据库面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/微服务面试专题及答案.pdf" target="_Blank">
                <h4>《微服务面试专题及答案》</h4>
            </a>
        </li>
        <li>
            <a href="/pdf/消息中间件面试专题及答案.pdf" target="_Blank">
                <h4>《消息中间件面试专题及答案》</h4>
            </a>
        </li>
    </ul>
</main>
